<div class="@(SizeClass) d-flex align-items-center flex-column text-center">
    <button class="btn text-center w-100" @onclick="toggleReader">
        @if (reading)
        {
            <span class="oi oi-media-pause text-primary w-100" style="font-size: 120px"></span>
        }
        else
        {
            <span class="oi oi-play-circle text-primary w-100" style="font-size: 120px"></span>
        }
    </button>
    <label class="text-center" style="font-size: 32px">@(reading? "STOP SCAN" : "START SCAN")</label>
    <p>Reader service status: @(HubStatus? "Connected" : "Disconected")</p>
    <p>Antenna port: @AntennaId</p>
</div>

@using Microsoft.AspNetCore.SignalR.Client
@inject DialogService _dialog
@code {
    [Parameter]
    public int Size { get; set; }

    [Parameter]
    public EventCallback<RFTagResponse> OnRead { get; set; }

    [Parameter]
    public int AntennaId { get; set; } = 1;

    public string SizeClass => $"col-md-{Size}";

    private bool reading = false;
    private bool connected = false;
    private HubConnection hubConnection;
    private bool HubStatus => hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        if (hubConnection == null)
        {
            hubConnection = new HubConnectionBuilder()
                  .WithUrl($"{Program.RootApiUrl}readerhub")
                  .Build();
            hubConnection.On<RFTagResponse>("ReceiveTag", ReceiveTag);
        }
        await hubConnection.StartAsync();
    }

    private async Task ReceiveTag(RFTagResponse tag)
    {
        Console.WriteLine("Tag received: " + tag.EPCID);
        await OnRead.InvokeAsync(tag);
    }

    private async Task toggleReader()
    {
        reading = !reading;
        if (reading)
        {
            await startReader();
            await _dialog.SuccessAlert("Reader started!");
        }
        else
        {
            await stopReader();
            await _dialog.ErrorAlert("Reader stoped!");
        }
    }

    public async Task startReader()
    {
        if (hubConnection.State != HubConnectionState.Connected)
        {
            await hubConnection.StartAsync();
        }
        await hubConnection.InvokeAsync("StartInventory", new RFTagRequest() { AntenId = AntennaId });
    }

    public async Task stopReader()
    {
        if (hubConnection.State != HubConnectionState.Connected)
        {
            await hubConnection.StartAsync();
        }
        await hubConnection.InvokeAsync("StopInventory");
    }
}
