<div class="input-group">
    @*<FormInputText Text="@Text" TextChanged="InputTextChanged" PlaceHolder="@PlaceHolder"></FormInputText>*@
    <input type="text" value="@Text" @onchange="InputTextChanged" class="form-control" placeholder="@PlaceHolder">
    <button class="btn btn-outline-secondary" @onclick="SearchClicked" type="button"><span class="oi oi-magnifying-glass mr-1"></span>Search</button>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string PlaceHolder { get; set; }

    [Parameter]
    public EventCallback<string> TextChanged { get; set; }

    public async Task InputTextChanged(ChangeEventArgs e)
    {
        Text = e.Value?.ToString();
        await TextChanged.InvokeAsync(Text);
    }

    public async Task InputTextChanged(string e)
    {
        Text = e;
        await TextChanged.InvokeAsync(Text);
    }

    public async Task SearchClicked()
    {
        await TextChanged.InvokeAsync(Text);
    }
}
