<div class="input-group">
    <div class="input-group">
        <input type="text" value="@Text" @onchange="InputTextChanged" class="form-control" placeholder="@PlaceHolder" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" @onclick="SearchClicked" type="button"><span class="oi oi-magnifying-glass mr-1"></span>Search</button>
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string PlaceHolder { get; set; }

    [Parameter]
    public EventCallback<string> TextChanged { get; set; }

    public async Task InputTextChanged(ChangeEventArgs e)
    {
        Text = e.Value?.ToString();
        await TextChanged.InvokeAsync(Text);
    }

    public async Task SearchClicked()
    {
        await TextChanged.InvokeAsync(Text);
    }
}
