<div style="height: 600px" class="d-flex flex-row align-items-center">
    <div class="w-100 text-center" style="vertical-align: middle">
        <div class="spinner-border text-success text-center" role="status">
        </div>
    </div>
</div>
@code {

}
