@inherits LayoutComponentBase
@attribute [Authorize]
<Alert @ref="AlertDialog"></Alert>
<div class="wrapper d-flex align-items-stretch">
    <NavMenuAlt />
    <div id="content" class="p-4 p-md-5 pt-5">
        <div class="top-row px-4 bg-white d-flex">
            <div class="align-items-center">
                <span class="oi oi-menu large-icon hand mr-1" @onclick="ToggleNavMenu"></span>
                <span class="large-icon">@PageTitle</span>
            </div>

            <div class="spacer"></div>

            <AuthorizeView>
                <Authorized>
                    Welcome, @context.User.Identity.Name <a href="/logout" class="ms-4">Logout<span class="oi oi-account-logout ms-2"></span></a>
                </Authorized>
                <NotAuthorized>

                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="main-content">
            @Body
        </div>
    </div>
</div>

@using Microsoft.AspNetCore.Components.Authorization
@using RFIDSolution.WebAdmin.Services
@inject JsService js
@code{
    public static MainLayoutAlt Instance = new MainLayoutAlt();

    public Alert AlertDialog { get; set; }

    private string pageTitle = "ANNORA SAMPLE SHOE MANAGEMENT";

    public string PageTitle
    {
        get => pageTitle;
        set
        {
            pageTitle = value;
            js.SetTitle(pageTitle);
            StateHasChanged();
        }
    }

    private bool collapseNavMenu = false;

    public bool CollapseNavMenu
    {
        get => collapseNavMenu;
        set
        {
            collapseNavMenu = value;
        }
    }

    private string NavMenuCssClass => CollapseNavMenu ? "sidebar collapse" : "sidebar";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Instance = this;
    }

    public void ToggleNavMenu()
    {
        CollapseNavMenu = !CollapseNavMenu;
    }
}
