<div class="ps-4 bg-white d-flex flex-column border-bottom">
    <a class="navbar-brand" href="">Anora RFID</a>
    <span class="mb-2">Version: 1.0.0</span>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> HOME
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ALL SHOE
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mappingproduct">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ADD SHOE
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="transfer">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TRANSFER SHOE
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="shoemodels">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SHOE MODELS
            </NavLink>
        </li>
    </ul>
</div>

@code {
   
}
