<div class="ps-4 bg-white d-flex flex-column border-bottom">
    <a class="navbar-brand" href="">SAMPLE SHOE MANAGEMENT</a>
    <span class="mb-2">Version: 2.0.0</span>
</div>

<div class="side-nav">
    <ul class="list-unstyled">
        <NavMenuItem Title="Dash board" Icon="oi-dashboard" Href=""></NavMenuItem>
        <NavMenuItem Title="All shoes" Icon="oi-menu" Href="products"></NavMenuItem>
        <NavMenuItem Title="Mapping tag" Icon="oi-plus" Href="mappingproduct"></NavMenuItem>
        <NavMenuItem Title="Transfer shoes" Icon="oi-transfer" IsLink="false">
            <SubNavItem Text="Tranfer in/out" Href="transfer"></SubNavItem>
            <SubNavItem Text="Delivery out" Href="transferdelivery"></SubNavItem>
            <SubNavItem Text="Transfer history" Href="transferhistory"></SubNavItem>
        </NavMenuItem>
        <NavMenuItem Title="Inventory plan" Icon="oi-project" Href="inventory"></NavMenuItem>
        <NavMenuItem Title="Config" Icon="oi-cog" Href="config"></NavMenuItem>

        <NavMenuItem Title="Shoe properties" Icon="oi-list" Href="properties" IsLink="false">
            <SubNavItem Text="Models" Href="properties/models"></SubNavItem>
            <SubNavItem Text="Categories" Href="properties/categories"></SubNavItem>
        </NavMenuItem>

        <NavMenuItem Title="User management" Icon="oi-person" Href="users" IsLink="false">
            <SubNavItem Text="Users" Href="users/manage"></SubNavItem>
            <SubNavItem Text="Departments" Href="users/departments"></SubNavItem>
            @*<SubNavItem Text="Roles" Href="roles"></SubNavItem>*@
        </NavMenuItem>

        <NavMenuItem Title="Reports" Icon="oi-script" Href="report" IsLink="false">
            <SubNavItem Text="Inboud" Href="report/inbound"></SubNavItem>
            <SubNavItem Text="Transfer" Href="report/transfer"></SubNavItem>
            <SubNavItem Text="Inventory" Href="report/inventory"></SubNavItem>
            <SubNavItem Text="Warning" Href="report/warning"></SubNavItem>
            <SubNavItem Text="Stock" Href="report/stock"></SubNavItem>
        </NavMenuItem>
        @*<NavMenuItem Title="System logs" Icon="oi-copywriting" Href="logs"></NavMenuItem>*@
    </ul>
</div>

@code {
   
}
