<div class="top-button sticky-top d-flex">
    <button class="btn btn-light"><span class="oi oi-inbox"></span> SAVE</button>
</div>


<div class="card m-2 w-100">
    <div class="card-body row">
        <div class="col-md-2 mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>
</div>

<div class="m-2 bg-white">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>#</td>
                <td>EPC</td>
                <td>SKU</td>
                <td>LOCATION</td>
                <td>SEASON</td>
                <td>STAGE</td>
                <td>MODEL</td>
                <td>DEV STYLE NUMBER</td>
                <td>COLOR WAY</td>
                <td>SIZE</td>
                <td>QUANTITY</td>
                <td>CATEGORY</td>
                <td>POC</td>
                <td>REMARKS</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>123123-3sdf1234-2354</td>
                <td>DQ12313</td>
                <td>G-L-12</td>
                <td>SP22</td>
                <td>KAPM</td>
                <td>BLAZER MID JUMBO</td>
                <td>DQ1234</td>
                <td>123</td>
                <td>M9</td>
                <td>1</td>
                <td>NSW</td>
                <td>JENNY CHU</td>
                <td>tests</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

@page "/mappingproduct"
@code{

}