<tr class="new-row">
    <td colspan="100000" style="padding: 60px 20px;">
        <h3 class="text-center">@Text</h3>
    </td>
</tr>

@code {
    [Parameter]
    public string Text { get; set; } = "No data to display";
}
