@if (Show)
{
    <tr>
        <td colspan="1000" class="p-1 m-bg-primary" style="color: black">
            @ChildContent
        </td>
    </tr>
}
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Show { get; set; }
}
