<span>@time.ToString("HH:mm:ss dd/MM/yyyy")</span>

@code {
    private DateTime time { get; set; }

    protected override void OnInitialized()
    {
        _ = Task.Run(async () =>
        {
            while (true)
            {
                await Task.Delay(1000);
                time = DateTime.Now;
                StateHasChanged();
            }
        });
    }
}
