<div class="row" style="width: 500px">
    <div class="col-md-12">
        <input type="password" @bind-value="@Password"  placeholder="Enter your password..." class="form-control form-control-sm" required>
        @if (!valid)
        {
            <p class="text-danger">@validMessage</p>
        }
    </div>

    <div class="col-md-12 mt-2 d-flex">
        <div class="spacer"></div>
        <button @onclick="() => ModalInstance.CancelAsync()" class="btn btn-light me-2">Cancel</button>
        <button @onclick="OK" class="btn btn-primary">Confirm</button>
    </div>
</div>

@inject DialogService _dialog
@inject UserService _userService
@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    public string Password { get; set; }

    public string validMessage = "";
    public bool valid = true;

    protected override void OnInitialized()
    {
    }

    public async void OK()
    {
        valid = true;
        if (string.IsNullOrEmpty(Password))
        {
            validMessage = "Please enter your password!";
            valid = false;
            StateHasChanged();
            return;
        }

        bool confirmed = await _userService.ConfirmPassword(Password);

        if (confirmed)
        {
            await ModalInstance.CloseAsync(ModalResult.Ok<bool>(true));
        }
        else
        {
            validMessage = "Password incorrect please try again!";
            valid = false;
            StateHasChanged();
            return;
        }
    }

}