<div class="row" style="width: 500px">
    <div class="col-md-12">
        <input type="text" @bind-value="@Message" placeholder="@PlaceHolder" class="form-control form-control-sm" required=@Required>
    </div>

    <div class="col-md-12 mt-2 d-flex">
        <div class="spacer"></div>
        <button @onclick="() => ModalInstance.CancelAsync()" class="btn btn-light me-2">Cancel</button>
        <button @onclick="OK" class="btn btn-primary">Confirm</button>
    </div>
</div>

@inject DialogService _dialog
@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string PlaceHolder { get; set; }

    [Parameter]
    public bool Required { get; set; }

    [Parameter]
    public string InvalidFeedback { get; set; }

    public string Message { get; set; }

    protected override void OnInitialized()
    {
    }

    public async void OK()
    {
        if (Required && string.IsNullOrEmpty(Message))
        {
            await _dialog.ErrorAlert($"{InvalidFeedback}");
            return;
        }
        await ModalInstance.CloseAsync(ModalResult.Ok<string>(Message));
    }

}